.header {
  height: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(180deg, #f5f5f7, #0000);

  & .title {
    font-weight: bold;
    font-size: 3em;
    &.withLogo {
      background: url(/rvchan.svg) left/auto 60% no-repeat;
      padding-left: 1.25em;
      &.prod {
        background-image: url(/rvchan-red.svg);
      }
      &.ukraine {
        background-image: url(/rvchan-ukraine.svg)!important;
      }
    }
  }
  & .description {
    font-size: 1.2em;
    color: #666666;
  }
}