.header {
  height: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > .title {
    font-weight: bold;
    font-size: 3em;

    &.withLogo {
      background: url(/rvchan.svg) left/auto 60% no-repeat;
      padding-left: 1.25em;
    }
  }
  > .description {
    font-size: 1.2em;
    color: #666666;
  }
}