.button {
  background: #0000;
  border: solid 1px #0000;
  transition: border ease-in-out .1s, background ease-in-out .1s, padding ease-in-out .1s;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin: 2px;
  padding: 3px 0 0;
  width: 30px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;

  & .text {
    height: 18px;
    line-height: 18px;
    font-size: 0.7rem;
    font-weight: 700;
    vertical-align: center;
    position: absolute;
    display: block;
    width: 100%;
  }
  & .icon {
    transition: padding .1s ease-in-out;
    padding: 0;
  }
  &.withText {
    padding: 0 2px;
    & .icon {
      float: left;
      padding: 0 1px;
    }
  }

  &:hover {
    border: solid 1px #0002;
    background-color: #0001;
  }
  &:focus {
    outline: none;
    box-shadow: none;
    border: solid 1px #0002;
    background-color: #0000;
  }
  &:active {
    border: solid 1px #0002;
    background-color: #0000;
  }
}