@import url('/fonts/SFUIDisplay/font-face.css');
@import 'color.scss';
@import 'respond.scss';

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}
ol.-no-decor, ul.-no-decor {
  list-style: none
;
}
ol:not(.-no-decor), ul:not(.-no-decor) {
  & > li {
    margin: 0 0 4px;
    padding: 0 0 0 3em;
    text-indent: -1.5em;
  }
}
ul:not(.-no-decor) {
  & > li {
    list-style-type: none;
    text-indent: -1em;

    &:before {
      content: ' ';
      background: #000;
      display: inline-block;
      width: 5px;
      height: 5px;
      left: -8px;
      top: -2px;
      position: relative;
      border-radius: 50%;
    }
  }
}
ol {
  counter-reset: item;

  & > li {
    list-style-type: none;
    counter-increment: item;

    &:before {
      display: inline-block;
      width: 1em;
      padding-right: 0.5em;
      font-weight: bold;
      text-align: right;
      content: counter(item) ".";
    }
  }
}

div.error {
  text-align: center;
  & > .name {
    font-size: 1.2em;
    display: block;
    font-weight: bold;
  }
  & > .description {
    color: #666666;
  }
}

body {
  overflow: paged-y;
  margin: 0;
  background: $background;
  color: $textColor;
  font-size: 15px;
  font-family: -apple-system-font,BlinkMacSystemFont,"SF UI Display",Arial,sans-serif;
  padding: 0 12px 4px;
}
a {
  color: inherit;
  text-decoration-color: $linkColor;
  transition: .2s ease-in-out;
  &:hover {
    color: $linkColor
  }
  &.-no-decor {
    color: $NHLinkColor;
    &:hover {
      color: $hoverLinkColor;
      text-decoration: underline!important;
    }
  }
}
header {
  z-index: 11;
  position: relative;
}
.grecaptcha-badge {
  z-index: 10000;
  margin: 0 auto;
  border-radius: .625em;
  overflow: hidden;
  box-shadow: 0 0 2rem 0.25rem #0002, 0 0 .3125rem 0.1rem #0000000c !important;
  filter: hue-rotate(90deg);
}

.-no-decor {
  text-decoration: none!important;
}

.homePage {
  max-width: 1080px;
  margin: 0 auto;
}
.withPostForm {
  @include respond(mobile) {
    padding-bottom: 42px;
  }
}


::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 12px;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0);
  transition: .3s ease-out;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  height: 8px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 12px;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.25);
  transition: .3s ease-out;
  /* -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05); */
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}