.linksWrap {
  display: flex;
  column-gap: 1em;
  & > div {
    flex: 1;

    & > .boardSubject {
      margin: 0 2px 2px;
      font-weight: bold;

      &:not(:first-child) {
        margin-top: .8em;
      }
    }
  }
}