@import "/style/respond";

.postform {
    background-color: #fff;
    border-radius: .625rem;
    margin: 4px 0 2px;
    box-shadow: 0 0 2rem .025rem #0002;
    position: sticky;
    bottom: 2px;
    box-sizing: border-box;
    z-index: 3;
    overflow: hidden;
    -webkit-touch-callout: none;
    user-select: none;

    & .postformMain {
        display: flex;
        padding: 4px;
        & .content {
            min-height: 30px;
            max-height: 124px;
            border-radius: 15px;
            margin: 2px;
            flex: 1;
            overflow: hidden;
            overflow-y: auto;
            padding: 3px 10px 5px;
            font-size: 16px;
        }
        & :last-child {
            margin-right: 0;
        }
    }
    &.fullscreen {
        background-color: unset;
        border-radius: unset;
        margin: unset;
        box-shadow: unset;

        & .expanded {
            background: unset;
        }
        & .input {
            margin: 2px 0;
            width: 100%;
            border-radius: 1em;
        }

        & .postformMain {
            padding-top: 0;
            display: block;

            & .fullscreenButton {
                width: 100%;
                border-radius: 1em;
                margin: 2px 0;
            }
            & .content {
                height: 143px;
                max-height: 238px;
            }
        }
    }
}
.expanded {
    background-color: #fff;
    padding: 4px 4px 0;
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    &.hidden {
        display: none;
    }
    & .recaptcha {
        color: #666;
        font-size: .7em;
        text-align: center;
        margin-top: -2px;
    }
    & .email {
        width: 100%;
    }
}
.selectedImages {
    display: flex;
    column-gap: 8px;
    padding: 6px 8px 2px;

    & .selectedImage {
        background: #fff;
        border-radius: .625rem;
        text-align: center;
        box-shadow: 0 0 2rem .25rem #0002, 0 0 .3125rem .1rem #0000000c !important;
        padding: 4px;
        width: 104px;
        margin-bottom: 4px;

        & .img {
            margin: 0 auto;
            width: 96px;
            height: 96px;
            border-radius: .3125rem;
        }
        & .imageName {
            font-size: 13px;
            padding: 4px 0 2px;
            width: 96px;
            display:block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
.input {
    appearance: none;
    padding: 3px 10px 5px;
    border: 1px solid #aaa;
    color: #000;
    background-color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    border-radius: 15px;
    height: 30px;
    transition: .2s ease-out;
    resize: none;
    box-shadow: none;
    font: inherit;
    &:focus {
        outline: none;
        border: 1px solid #faf;
    }
}