.marginNull {
    margin: 0!important;
}
.postWrap {
    margin: 0 0 4px;
    & .toThreadButton {
        width: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 2px 0 4px;
        font-size: 13px;
        transition: .1s ease-in-out;
        box-shadow: 0 1px 0 1px #eeeeee;
        &:hover {
            font-size: 14px;
            background: #f0f;
            box-shadow: -16px 0 1.5rem 0.0625rem #f0f, -0px 0 .5rem 0.3125rem #f0f;
            color: #fff;
            font-weight: 800;
        }
    }
    &:not(.postOp) {
        margin: 0 2px 4px 16px;
    }
    & .post:not(.postOp) {
        position: relative;
        &::before {
            display: block;
            content: "»";
            position: absolute;
            font-size: 1.2em;
            left: -17px;
            top: -2px;
            color: #ccc;
        }
    }
    & .postContent {
        word-break: break-word;
        white-space: pre-wrap;
        line-height: 1.25;
        margin: 8px 16px;
        display: block;
        & > .quote {
            color: #2d862d;
        }
    }
    & .postInfo {
        color: #666;
        margin-bottom: 2px;
        font-size: .9em;
        display: block;

        & > .postNum {
            color: #c1c;
        }
        & > .postName {
            font-weight: 600;
        }
        & > *:not(:last-child) {
            margin-right: 4px;
        }
        @supports (display: flex) and (column-gap: 4px) {
            display: flex;
            column-gap: 4px;
            & > * {
                margin: 0!important;
            }
        }
    }
}