.trackerWrap {
  & > ul {
    display: block;

    & > li {
      & > .typeThread {
        color: #aa3300;
      }
      & > .typePost {
        color: #0077bb;
      }
      & .board {
        color: #000000;
      }
      & .title {
        color: #ffaaff;
      }
      & .date {
        font-size: .8em;
        color: #666666;
      }
    }
  }
}